@import "tailwindcss";

@font-face {
  font-family: 'Dana';
  src: url('../fonts/DanaVF.woff2') format('woff2-variations'),
       url('../fonts/DanaVF.woff') format('woff-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DanaFat';
  src: url('../fonts/Dana-fat.woff2') format('woff2');
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: 'Dana', sans-serif;
    font-feature-settings: "ss02";
  }
}

@theme {
  --color-white: #FFFFFF;
  --color-slate: #7F8FA6;
  --color-dark: #1C2B3A;
  --color-sage: #7D9E8C;
  --font-fat: 'DanaFat', sans-serif;
}